<form {{action "postAnswer" on="submit"}}>
  <fieldset>
    <legend>POST AN ANSWER:</legend>
    {{input type="text" placeholder="Your name" value=author}}
    {{textarea placeholder="Answer" value=text rows=6}}
  </fieldset>
  <button type="submit">SUBMIT</button>
</form>
