<form {{action "postAnswer" on="submit"}}>
  <fieldset>
    <legend>POST AN ANSWER:</legend>
    {{input type="text" placeholder="Your name" value=author}}
    {{simditor-editor value=textObj update=(action (mut textObj.content)) editor=(mut editor)}}
  </fieldset>
  <button type="submit" disabled={{formIncomplete}}>SUBMIT</button>
</form>
