{{#if session.isAuthenticated}}

  <form class="c-answer-form__form" {{action "postAnswer" on="submit"}} data-test-answer-form>
      <legend>POST AN ANSWER:</legend>

      <div class="md__container">
        {{#mobiledoc-editor
          mobiledoc=mobiledoc
          cards=(mobiledoc-component-cards)
          will-create-editor=(action 'willCreateEditor')
          did-create-editor=(action 'didCreateEditor')
          on-change=(action 'mobiledocWasUpdated')
          as |editor|}}
          {{md-toolbar editor=editor}}
        {{/mobiledoc-editor}}
      </div>

    {{#if showError}}
      <span class="flash-error">Oops, an error occurred while posting...</span>
    {{/if}}

    <button class="c-answer-form__submit-btn" type="submit" disabled={{formIncomplete}} data-test-answer-submit>SUBMIT</button>
  </form>

{{else}}

  <div class="c-answer-form__flash flash-notice" data-test-login-notice>
    <span>{{#link-to 'login'}}Login{{/link-to}} to post an answer.</span>
  </div>

{{/if}}
