<nav class="nav">
  <div class="nav__logo">
    {{#link-to "questions.index"}}EMBER Q&A{{/link-to}}
  </div>
  <ul class="nav__menu">
    <li class="nav__menu-item">{{#link-to "questions.list"}}VIEW ALL{{/link-to}}</li>
    <li class="nav__menu-item">{{#link-to "questions.new"}}NEW QUESTION{{/link-to}}</li>
    {{yield}}
  </ul>
</nav>
