<div class="c-route-title-header {{if 'isChild' 'c-route-title-header--child'}}">
  <h1 class="c-route-title-header__title {{if 'isChild' 'c-route-title-header--child__title'}}">
    {{title}}
  </h1>
</div>
