<form {{action 'submitSearch' localSearchTerm on="submit"}}>
  {{input type="search" value=localSearchTerm placeholder="Search..."}}
  <button type="submit" disabled={{formEmpty}}>
    {{fa-icon 'search'}}
  </button>
</form>
