<div class="question-block__header">
  <h3 class="question-block__subject"><span>Q:</span> {{question.subject}}</h3>
  <p class="question-block__details">posted by <span>{{question.author}}</span> on {{question.formattedDate}}</p>
</div>
<div class="question-block__body">
  {{display-text question.text}}
</div>
