.nav {
  align-items: center;
  background: $base-background-color;
  border-bottom: $base-border;
  display: flex;
  height: 4em;
  justify-content: space-between;
  margin-bottom: 2em;
  padding: 0;


  &__logo {
    font-family: $heading-font-family;
    font-size: 1.3em;
    margin-left: 20px;

  }

  &__menu {
    background: $base-background-color;
    margin-right: 20px;
  }


  &__menu-item {
    background-color: $base-background-color;
    color: $base-font-color;
    display: block;
    font-family: $heading-font-family;
    margin: 30px 0;
    text-align: center;

    &:hover {
      color: $action-color;
    }

    @media screen and (min-width: 800px) {
      display: inline;
      margin-left: 20px;
    }

  }

}


.mobile-nav {

  &__menu-icon {
    font-size: 1.5em;
    margin-left: auto;
    margin-right: 20px;
    color: $base-font-color;
    background: transparent;
    padding: 3px;

    &:hover {
      background: transparent;
      color: $action-color;
    }
  }

  &__inner {

  }

  &__link {
    color: #fff;
    display: block;
    font-family: $heading-font-family;
    font-size: 1.1em;
    margin: 20px;
    padding: 15px;
    text-align: center;

    &:hover {
      color: $base-font-color;
    }
  }
}


.ember-modal-dialog {
  background-color: $theme-color;
  height: 100vh;
  width: 65%;
}

.ember-modal-overlay {
  background-color: rgba(0,0,0,.2);
}







form.search-bar {

  $search-bar-border-color: $base-border-color;
  $search-bar-border: 1px solid $search-bar-border-color;
  $search-bar-background: lighten($search-bar-border-color, 10%);

  position: relative;
  display: inline-block;

  input[type=search] {
    appearance: none;
    background-color: white;
    border: 1px solid $base-border-color;
    box-sizing: border-box;
    display: block;
    font-size: 1em;
    font-style: italic;
    margin: 0;
    min-width: 275px;
    padding: ($base-spacing / 3) ($base-spacing / 3);
    position: relative;
    transition: border-color;
    width: 100%;

  }

  button[type=submit] {
    @include position(absolute, 0 0 0 null);
    outline: none;
    padding: 5px 10px;

    img {
      height: 12px;
      opacity: 0.7;
    }
  }
}
