.pagination {

  $pagination-border-color: $base-border-color;
  $pagination-border: 1px solid $pagination-border-color;
  $pagination-background: $base-background-color;
  $pagination-hover-background: $secondary-background-color;
  $pagination-color: $base-font-color;


  @include grid-column();
  margin-top: 2em;
  margin-bottom: 1em;

  ul {
    text-align: center;
    display: flex;
    justify-content: center;

    li {
      margin: 0 4px;
    }

    li a {
      background: $pagination-background;
      border: $base-border;
      color: $pagination-color;
      outline: none;
      padding: 8px 16px;
      transition: all 0.2s ease-in-out;

      &:hover,
      &:active {
        background: $pagination-hover-background;
      }
    }

    li.page-link a.active {
          background: $theme-color;
          border-color: $theme-color;
        }
  }
}


.pagination.media-mobile {
  ul {

    li.page-link a {
      padding: 8px 12px;
    }
  }
}
