.pagination {
  @include grid-column();
  margin-top: 2em;
  margin-bottom: 1em;

  $pagination-border-color: $base-border-color;
  $pagination-border: 1px solid $pagination-border-color;
  $pagination-background: lighten($pagination-border-color, 10);
  $pagination-hover-background: lighten($pagination-background, 5);
  $pagination-color: $base-font-color;

  text-align: center;

  ul {
    display: inline;
    margin: 0;
    padding: 0;
    text-align: center;

    li {
      display: inline;
      list-style: none;
    }

    li a {
      border: $base-border;
      color: $pagination-color;
      outline: none;
      padding: 8px 16px ;
      transition: all 0.2s ease-in-out;

      &:hover,
      &:active {
        color: $action-color;
      }


    }
  }
}
