.question-table {
  @include grid-column(1, $single-grid);
  @include grid-media($medium-up-grid) {
    @include grid-column(10);
    @include grid-shift(1);
  }

  &--account {
    @include grid-column(1, $single-grid);
    @include grid-shift(0);
  }

  &__question-data {
    padding: 1.5em 0;
    white-space: nowrap;

    h3,
    p,
    span {
      margin: 0;
    }
  }

  &__question-data--subject {
    h3 {
      margin: 0 10px;
    }
  }

  &__question-data--answers {
    font-family: $heading-font-family;
    font-size: 0.6em;

    .answers {
      align-items: center;
      display: flex;
      flex-direction: column;
      float: left;
    }

    .answers-number {
      font-size: 2em;
    }

    .has-answers,
    .no-answers {
      border-radius: $base-border-radius;
      padding: 3px 6px;
    }

    .has-answers {
      background-color: lighten($theme-color, 5%);
    }

    .no-answers {
      background-color: $alert-color;
    }
  }

  &__question-data--details {
    font-size: 0.9em;
    font-style: italic;
    text-align: right;

    p {
      margin: 0;
    }

    .author {
      font-size: 1.05em;
      font-style: normal;
      font-weight: 700;
      margin: 0 2px;
    }
  }
}
