.question-block {
  @include grid-column(11);
  @include grid-shift(0.5);
  border: 1px solid #bbb;
  box-shadow: 0 2px 4px #aaa;
  margin-bottom: 30px;

  &__header {
    @include display(flex);
    @include align-items(center);
    @include justify-content(space-between);
    background-color: #d5e5ec;
    border-bottom: 1px solid #bbb;
    min-height: 40px;
    padding: 3px 10px;
  }

  &__subject {
    margin: 0;
    span {
      color: $medium-gray;
      margin-right: 5px;
    }
  }

  &__details {
    margin: 0;
    font-size: .9em;
    font-style: italic;

    span {
      font-style: normal;
      font-weight: 700;
      margin: 0 3px 0 6px;
    }
  }


  &__body {
    background-color: #f6f6f6;
    padding: 20px;
      p {
        padding: 0 10px;
      }

      p:first-of-type {
        text-indent: 40px;
      }
  }

}
