.question-preview {
  @include grid-column(1, $single-grid);

  @include grid-media($medium-up-grid) {
  @include grid-column(11);
  @include grid-shift(0.5);
  }

  border: $base-border;
  box-shadow: 0 2px 4px $light-gray;
  margin-bottom: 1.5em;
  color: $base-font-color;

  &:hover {
    transform: translateY(1px);
    color: $base-font-color;
  }

  &__header {
    display: flex;
    flex-direction: column;
    background-color: $theme-color;
    min-height: 40px;
    padding: 3px 10px;

    @media screen and (min-width: 800px) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__subject {
    color: $base-font-color;
    display: inline;
    margin: 0;
    span {
      color: #fff;
      margin-right: 5px;
    }
  }

  &__alert {
    // display: inline;
    background-color: #e6efc2;
    border-radius: $base-border-radius;
    padding: 3px 5px;
    margin-left: 10px;
    font-family: $heading-font-family;
    font-size: .8em;
    width: 100px;
  }

  &__alert--error {
    background-color: $action-color;
    color: #fff;
  }

  &__details {
    float: right;
    margin: 0;
    margin-left: 15px;
    font-size: .9em;
    font-style: italic;

    span {
      font-style: normal;
      font-weight: 700;
      margin: 0 3px 0 6px;
    }
  }


  &__body {
    background-color: $base-background-color;
    padding: 20px;
    display: flex;
  }

  &__preview-text {
    white-space: nowrap;
    overflow: hidden;
    margin-right: 3px;
  }

}
