.question-block {
  @include grid-column(1, $single-grid);

  @include grid-media($medium-up-grid) {
  @include grid-column(11);
  @include grid-shift(0.5);
  }

  border: $base-border;
  box-shadow: 0 2px 4px $light-gray;
  margin-bottom: 2em;

  &__header {
    display: flex;
    flex-direction: column;
    background-color: $theme-color;
    min-height: 40px;
    padding: 3px 10px;

    @media screen and (min-width: 800px) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__subject {
    margin: 0;
    span {
      color: #fff;
      margin-right: 5px;
    }
  }

  &__details {
    margin: 0;
    margin-left: 15px;
    font-size: .9em;
    font-style: italic;

    span {
      font-style: normal;
      font-weight: 700;
      margin: 0 3px 0 6px;
    }
  }


  &__body {
    background-color: $base-background-color;
    padding: 20px;
      p {
        padding: 0 10px;
      }

      p:first-of-type {
        text-indent: 40px;
      }
  }

}
