.route-nav {
  @include grid-column(1, $single-grid);

  @include grid-media($medium-up-grid) {
  @include grid-column(12);
  }

  border-bottom: $base-border;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2em;
  padding: 0 20px 5px 20px;
  margin-bottom: 2em;
  margin-top: 1em;

  &__item {
    color: $base-font-color;
    font-family: $heading-font-family;
    margin-left: 20px;
    &:hover {
      color: $action-color;
    }
  }

  &__title {
    font-family: $heading-font-family;
    font-size: 1.3em;
  }


}
