div.simditor {
  border: $base-border;
  border-radius: $base-border-radius;
}

div.simditor-body {
  font-family: $base-font-family !important;
}

div.simditor-placeholder {
  font-family: $base-font-family !important;
}
