{{question-block question=model}}
<div class="question-answers">
  {{#if model.answers}}
    <ul>
      {{#each model.answers as |answer|}}
        {{c-comment comment=answer}}
      {{/each}}
    </ul>
  {{else}}
    <p class="question-answers__message">No answers yet.</p>
  {{/if}}
</div>
{{answer-form question=model on-submit=(action "createAnswer")}}
