{{question-block question=model}}
<div class="question-answers">
  {{#if model.answers}}
    <ul>
      {{#each model.answers as |answer|}}
        {{c-comment comment=answer}}
      {{/each}}
    </ul>
  {{else}}
    <div class="flash-alert">
      <span>No answers yet.</span>
    </div>
  {{/if}}
</div>
{{answer-form question=model on-submit=(action "createAnswer")}}
