{{c-question-block question=model data-test-question-id=model.id}}

<div class="question-answers">
  {{#if model.answers}}
    <ul>
      {{#each model.answers as |answer|}}
        {{c-comment comment=answer data-test-answer=answer.id}}
      {{/each}}
    </ul>
  {{else}}
    <div class="flash-alert">
      <span>No answers yet.</span>
    </div>
  {{/if}}
</div>

{{c-answer-form question=model on-submit=(action "createAnswer")}}
