<div class="second-nav">
  {{#link-to "questions.list" class="second-nav__item"}}View All{{/link-to}}
  {{#link-to "questions.new" class="second-nav__item"}}Add New Question{{/link-to}}
</div>
{{outlet}}
